{
  "presets": [
    ["es2015", {"moduels": false}],
    //webpack understands the native import syntax, and uses it for tree shaking
    "stage-2",
    "stage-3",
    "react" //Transpile React components to Javascript
  ]
}